#!/usr/bin/make -f
# debhelper rules for os-prober
# (C) 2004 Joshua Kwan <joshk@triplehelix.org>

ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

build:
# Ye olde no-op.

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install os-prober bin
	dh_install common/* usr/share/os-prober
	if [ -d $(ARCH) ]; then dh_install $(ARCH)/* usr/share/os-prober; fi
	dh_install mounted/common/* usr/share/os-prober/mounted
	if [ -d mounted/$(ARCH) ]; then dh_install mounted/$(ARCH)/* usr/share/os-prober/mounted; fi
	dh_install init/* usr/share/os-prober/init

binary-indep: build install
# Ye olde no-op.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
